body{
background: rgb(93, 93, 235);
font: normal 15pt Arial;
}

header{
color: #fff;
text-align:center;
display: flex;
}

section{
background-color: #fff;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px #00000071;
}

div{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

footer{
color: #fff;
text-align: center;
font-style: italic;
}

